.slider__container {
  width: 50rem;
  height: 18rem;

  margin: auto;
}

.card {
  text-align: center;
}

.card__body {
  height: 15rem;
  width: 30rem;

  margin: auto;
  margin-top: 22px;
  padding: 20px;

  border: solid 1px rgb(210, 210, 210);
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.userReview {
  display: flex;

  height: 80%;
  font-size: 1.6rem;

  align-items: center;
  justify-content: center;
}

.userName {
  font-size: 1.2rem;
}
