.list__container {
  background-color: aqua;
}

.list__item {
  width: 100%;
  height: 4rem;

  background-color: transparent;

  border: none;

  cursor: pointer;
}

.list__item:hover {
  background-color: aliceblue;
}
