* {
  box-sizing: border-box;
  overflow-x: hidden;
}

.main__section {
  display: flex;
  width: 100%;
  height: 155rem;

  justify-content: center;
}

.main__img {
  position: absolute;
  top: 3rem;
}

.main__page__top {
  /* background-color: blue; */
  width: 62rem;
  z-index: 1;
}

.main__top {
  width: 62rem;
  height: 23rem;

  /* background-color: aqua; */
  margin: 280px 0 1350px 10px;

  opacity: 0;
  transform: translateY(20px);
  transition: all 1000ms ease-in-out;

  z-index: 2;
}

.main__top.visible {
  opacity: 1;
  transform: translateY(0);
}

.top__title {
  font-size: 3.4rem;
}

.highlight {
  color: red;
}

.description__main {
  font-size: 1.4rem;
  line-height: 2.2rem;
  color: rgb(40, 40, 40);

  margin: 30px 0 40px 5px;
}

.btn__wrap {
  display: flex;

  width: 27rem;

  justify-content: space-between;
}

.btn__start,
.btn__more {
  width: 200px;
  height: 50px;

  border: 1px solid red;
  border-radius: 10px;

  background-color: red;

  font-size: 1.2rem;
  font-weight: bold;
  color: white;

  cursor: pointer;
}

.btn__more {
  background-color: white;
  color: red;
}

.main__bottom {
  position: relative; /* 기본 위치 설정 */
  width: 62rem;
  height: 30rem;
  z-index: 0; /* .main__bottom이 .main__top 아래로 가도록 설정 */
}

.connect__line {
  border-left: 3px solid rgb(155, 155, 155); /* 세로선 스타일 지정 */
  height: 100px; /* 세로선의 높이 지정 (원하는 높이로 조절) */
  margin: 0 50% 0 50%; /* 좌우 여백 지정 (원하는 여백으로 조절) */
}

.animation__content {
  width: 50rem;
  height: 15rem;

  opacity: 0;
  transform: translateY(20px);
  transition: all 800ms ease-in-out;

  margin: auto;

  z-index: 2;
}

.animation__content.active {
  opacity: 1;
  transform: translateY(0);
}

.bottom__title {
  font-size: 3.4rem;

  margin: 50px 0 20px 0;
  text-align: center;
}

.bottom__description {
  font-size: 1.6rem;
  text-align: center;
}

.main__feature {
  width: 100%;
  height: 199rem;
  background-color: #fef9f9;
}

.main__feature_1 {
  position: relative;
  width: 62rem;
  height: 65rem;

  top: 100px;
  margin: auto;

  /* background-color: #3ad1fb; */
}

.wrapper__animation__content {
  display: flex;
  width: 100%;
  height: 250px;
  /* background-color: #3af05f; */

  margin-left: 10%;

  opacity: 0;
  transform: translateY(20px);
  transition: all 800ms ease-in-out;
}

.wrapper__animation__content.active {
  transform: translateY(0);
  opacity: 1;
}

.order {
  font-size: 7rem;
  color: red;
}

.content {
  margin-top: 5px;
  margin-left: 20px;
}

.title {
  font-size: 3rem;
  color: #484848;
}

.bold {
  color: black;
  font-weight: 600;
}

.description {
  height: 100px;
  margin-top: 20px;
  margin-left: 5px;

  font-size: 1.2rem;
  color: #757575;
}

.text {
  position: relative;
  top: 5px;
}

/* styles.css or your preferred stylesheet */
.video_container {
  display: flex;
  justify-content: center;
  align-items: center;

  opacity: 0;
  transform: translateY(20px);
  transition: all 800ms ease-in-out;
}

.video_container.active {
  transform: translateY(0);
  opacity: 1;
}

.main__feature_2 {
  position: relative;
  width: 62rem;
  height: 66rem;

  top: 50px;

  margin: auto;
}

.img__container {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 50rem;

  opacity: 0;
  transition: all 1000ms ease-in-out;
}

.img__container.active {
  transform: translateY(-80px);
  opacity: 1;
}

.analysis__img {
  transform: scale(1.5);
}

.main__feature_3 {
  position: relative;
  width: 62rem;
  height: 68rem;

  top: -100px;

  margin: auto;
}

.detail__feature {
  display: flex;
  justify-content: center;

  width: 100%;
  height: 70rem;
  background-color: white;

  margin-top: -200px;
}

.detail__feature_container {
  display: flex;
  align-items: center;

  flex-direction: column;

  width: 65rem;
  /* background-color: #3ad1fb; */
  margin-top: 100px;

  opacity: 0;
  transition: all 800ms ease-in-out;
}

.detail__feature_container.active {
  transform: translateY(-20px);
  opacity: 1;
}

.main__title {
  font-size: 3rem;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3개의 열을 가진 그리드 */
  grid-gap: 1.8rem; /* 그리드 아이템 간의 간격, 필요에 따라 조절 */

  margin-top: 50px;
}

.item {
  display: flex;
  flex-direction: column;

  width: 16rem;

  padding: 10px; /* 각각의 그리드 아이템에 여백을 추가, 필요에 따라 조절 */
  text-align: center; /* 텍스트를 가운데 정렬 */
}

.item__image {
  width: 13rem;
  margin: auto;
}

.sub__title {
  font-size: 1.6rem;
  font-weight: 600;

  margin: 15px 0 15px 0;
}

.sub__decription {
  font-size: 1.2rem;

  color: #757575;
}

.customer__review {
  display: flex;
  align-items: center;

  flex-direction: column;

  width: 100%;
  height: 50rem;
  /* background-color: #3af05f; */

  transform: translateY(20px);

  opacity: 0;
  transition: all 1000ms ease-in-out;
}

.customer__review.active {
  transform: translateY(0px);
  opacity: 1;
}

.customer__review__title {
  font-size: 3.6rem;

  text-align: center;
}

.review__slider {
  margin-top: 50px;
  width: 100%;
  /* background-color: #3dabeb; */
}

.rating__container {
  display: flex;

  width: 60rem;
  height: 15rem;

  margin-top: 50px;

  /* background-color: #3ad1fb; */
}

.rating__box__apple,
.rating__box__google,
.rating__box__naver {
  width: 35%;
  height: 100%;
  text-align: center;
}

/* .rating__box__apple {
  background-color: #f13fe5;
}

.rating__box__google {
  background-color: blue;
}

.rating__box__naver {
  background-color: yellow;
} */

.rating__title {
  font-size: 1.6rem;
}

.rating {
  font-size: 1.4rem;
}

.bold {
  font-size: 3rem;
}

.lead__in__service {
  width: 100%;
  height: 30rem;

  margin-top: 100px;
  /* background-color: #f13fe5; */
}

.lead__in__service__container {
  width: 50rem;
  height: 20rem;

  /* background-color: #3ad1fb; */

  margin: auto;

  text-align: center;

  transform: translateY(20px);

  opacity: 0;
  transition: all 1000ms ease-in-out;
}

.lead__in__service__container.active {
  transform: translateY(0px);
  opacity: 1;
}

.service__title {
  font-size: 4rem;

  color: black;

  margin-bottom: 100px;
}

.footer {
  width: 100%;
  height: 10rem;
  /* background-color: #3ad1fb; */

  border-top: solid 1px #484848;
}
.footer__container {
  text-align: center;

  font-size: 8rem;
}
